<!-- /templates/index.html  -->


{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Hi {{ user }},</h2>
                <form id="mainform" method="post">
                    <div class="form-group">
                        <label for="message">Enter your message:</label>
                        <input id="message" class="form-control" name="message" placeholder="Your message here" required>
                    </div>
                    <input class="btn btn-default" type="submit" value="Submit">
                </form>
            </div>
            <div class="col-md-8">

                <h2>Messages</h2>
                <table id="messages">
                    <tbody>
                         {% if messages %}
                            {% for m in messages %}
                                <tr>
                                    <td><b>{{ m.sender }}</b></td>
                                    <td>({{ m.dt }})</td>
                                    <td><em>"{{ m.message }}"</em></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                             <tr>
                                <td>No messages found.</td>
                             </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}